chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-WTF==0.14.2
certifi>=2017.7.27.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.2
pip==9.0.1
requests==2.18.4
requests-oauthlib==0.8.0
setuptools==36.3.0
six==1.10.0
tweepy==3.5.0
urllib3==1.26.5
Werkzeug==0.12.2
wheel==0.29.0
WTForms==2.1
